<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>MacSnack</h3>
    <p>
      In mijn project wil ik gebruikers gemakkelijk hun combinatie burgers delen met elkaar. Hierbij krijgt de gebruiker de kans om hun burger zelf te bouwen.
      De burgers kunnen gebouwd worden met behulp van de ingredientenlijst die alleen beheerd kunnen worden door beheerders
      (In de user entiteit hebben we een beheerder boolean. 1 is admin, 0 is een klant).
      <br>
      De klant kan zijn burger terug lezen op zijn account, samen met zijn account gegevens. Ook kunnen de gebruikers de gemaakte burgers zien.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/ryan.png"
          class="card-img-top border profile-pic"
          alt="profile image "
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Ryan Groenewold</h5>
        <p class="card-text">
          Studentnummer: 2128772
        </p>
      </div>
    </div>
  </div>
</div>
<hr>

<h3>Entiteiten</h3>
<div class="row">
  <div class="card col-sm-12 col-md-4">
    <p>Entiteit 1 : Gebruiker</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>orders: Reference bestellijst</li>
      <li>admin: boolean</li>
      <li>favorite burgers: reference key to burgers</li>
    </ul>
  </div>
  <div class="card col-sm-12 col-md-4">
    <p>Entiteit 2 : Burger</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>DateCreated: date</li>
      <li>ingredients: Ingredients</li>
      <li>UserId : reference user</li>
      <li>Image : string</li>
    </ul>
  </div>
  <div class="card col-sm-12 col-md-4">
    <p>Entiteit 3 : Ingredienten</p>
    <ul>
      <li>id: number</li>
      <li>naam: string</li>
      <li>Description: string</li>
      <li>isSelected: boolean</li>
      <li>Image : string</li>
    </ul>
  </div>
<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
