<div class="starter-template">
  <h1>MacSnack Homepage</h1>
  <a
  class="navbar-brand"
  routerLink="/about"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions]="{ exact: true }"
  >about page</a
  >
</div>
